.head{
    color: white;
}
.register-data{
    color: white;
    font-weight: 600;
}
.form-floating>.form-select {
    background-color: #000A2F;
    border: 1px solid #15A2B0;
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}

option{
    color: white;
    background-color: #000d3d;
}
.form-label{
    
    color: white;
}
select#role.form-select{
    color: white;
}
section.h-100.login-form{
    background: #02001e;
}