@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --header-height: 80px;
  --footer-height: 80px;
  --nav-width: 230px;
  --nav-width-colps: 70px;

  /* -- spacing -- */
  --nav-padding: 20px;
  --wrapper-padding: 30px;

  /* -- font sizes -- */
  --nav-font-size: 1rem;
  --page-title-size: 1.75rem;

  /* -- colors --  */
  --main-col: #ffffff;
  --sec-col: #ffffff;
  --white-col: #000a2f;
  color: var(--grey-light);
  background-color: #000a2f;
  color: #ffffff; /* White text for contrast */

  /*--slate-col:#02021e;*/
  --slate-col: #15a2b0;
  --grey-col: #a9b9c6;
  --heading-col: #ffffff;
  --light-main-col: #000a2f;
  /* -- transitions -- */
  --duration-links: 0.3s;
  --duration-slide: 0.3s;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000720;
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--main-col);
  transition: var(--duration-links);

  &:hover {
    color: var(--sec-col);
  }
}

/* common classes */
.fs-7 {
  font-size: 0.875rem;
}
.fs-8 {
  font-size: 0.75rem;
}
.fs-9 {
  font-size: 0.5rem;
}

.bg-danger {
  --bs-bg-opacity: 1;

  background-color: #1cb3be !important;
}
.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1cb3be;
  --bs-btn-border-color: #1cb3be;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3c858a;
  --bs-btn-hover-border-color: #12b6c1;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1cb3be;
  --bs-btn-active-border-color: #1cb3be;
  --bs-btn-active-shadow: inset 0 3px 5px #1cb3be;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1cb3be;
  --bs-btn-disabled-border-color: #1cb3be;
}
/* button color change */
.bg-success {
  --bs-bg-opacity: 1;

  background-color: #1cb3be !important;
}
.btn-success {
  --bs-btn-bg: #1cb3be;
  --bs-btn-border-color: #0d6a70;
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: #2e787e;
  --bs-btn-active-bg: #2e787e; /* Even darker brown on active state */
  --bs-btn-active-color: #fff; /* White text on active state */
  --bs-btn-active-border-color: #2e787e;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Default shadow */
  border-radius: 8px; /* Rounded corners */
  border: 2px solid transparent; /* Transparent border */
}

.btn-success:hover {
  transform: translateY(-5px); /* Lift button up by 5px */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  border-color: #14cad7; /* Border color on hover */
  --bs-btn-hover-bg: #0d6a70; /* Slightly darker brown on hover */
}

.btn-success:active {
  transform: translateY(0); /* Reset lift effect on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reset shadow on click */
  --bs-btn-active-bg: #255d61; /* Even darker brown on active state */
  --bs-btn-active-color: #fff; /* White text on active state */
}

.btn-main {
  background-color: #16acbf;
  color: white !important;

  &:hover {
    background-color: #37646a !important;
  }
}

.App {
  transition: var(--duration-slide);
  position: relative;
  overflow-x: clip;
  min-height: 100vh;
}
main {
  /* margin-left: var(--nav-width); */
  width: 100%;
  transition: var(--duration-slide);
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}
.page-wrapper {
  padding: var(--wrapper-padding);
  min-height: calc(100vh - calc(var(--header-height)));
}
div .row-g3 {
  background-color: #ffffff;
}
.page-section {
  background-color: #000a2f;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #15a2b0;
  isolation: isolate;
}
.display-section {
  background-color: rgba(158, 158, 158, 0.5);
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page-title {
  margin: 0px;
  font-size: var(--page-title-size);
  font-weight: 700;
  color: var(--heading-col);
}

.title {
  margin-bottom: var(--wrapper-padding);
  font-size: var(--page-title-size);
  font-weight: 500;
  text-transform: capitalize;
}
.title-line {
  position: relative;
  container-type: inline-size;
  text-align: center;
  word-break: break-all;
  margin-bottom: var(--wrapper-padding);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 45%;
    height: 1px;
    background-color: var(--heading-col);
    z-index: -1;
  }

  & > span {
    background-color: var(--white-col);
    padding: 0px 20px;
    font-size: var(--page-title-size);
    font-weight: 700;
    color: var(--heading-col);
    text-transform: capitalize;
    display: block;
    width: fit-content;
    margin: auto;
  }

  @container (width <= 600px) {
    &::before {
      width: 80%;
    }
    & > span {
      font-size: 1.4rem;
      padding: 0px 15px;
    }
  }
  @container (width <= 425px) {
    &::before {
      width: 100%;
    }
    & > span {
      font-size: 1.15rem;
      padding: 0px 10px;
    }
  }
}

.listing-card-container {
  container-type: inline-size;

  @container (width <= 500px) {
    .listing-card {
      flex-direction: column;
      align-items: flex-start;
    }
    .listing-card--head {
      background-color: var(--main-col);
      color: var(--white-col);
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .listing-card--body {
      margin-left: 0;
      border-left: none;
      border-top: 2px solid var(--main-col);

      &::before {
        display: none;
      }
    }
  }
}
.listing-card {
  --seprator-width: 80px;
  display: flex;
  align-items: center;
  width: 100%;
}
.listing-card--head {
  flex-shrink: 0;
  width: 110px;
  box-shadow: 2px 5px 8px rgba(39, 17, 17, 0.2);
  padding: 10px;
  border-radius: 10px;
  font-size: 0.85rem;
}
.listing-card--body {
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
  margin-left: var(--seprator-width);
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
  border-left: 1px solid var(--main-col);
  padding: 10px 0px;
  max-width: 680px;

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: var(--seprator-width);
    background-color: var(--main-col);
    position: absolute;
    left: calc(-1 * var(--seprator-width));
    top: 50%;
    transform: translateY(-50%);
  }
}

.table {
  background-color: #15a2b0;
}

.th-btn {
  display: inline-block;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
}

.sitemap-page {
  max-width: 1000px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

@media (width <= 768px) {
  main {
    margin-left: calc(0px - var(--nav-width));
    &.active {
      transform: translateX(var(--nav-width));
    }
  }
}

@media (width <= 425px) {
  :root {
    /* -- spacing -- */
    --wrapper-padding: 20px;

    /* -- font sizes -- */
    --nav-font-size: 1rem;
    --page-title-size: 1.5rem;
  }

  .btn-responsive {
    padding: 5px 12px !important;
    font-size: 0.85rem;
  }
}
